.head-container {
  background: url("/assets/Banner.svg");
  color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.category .left-icon {
  left: -20px !important;
}

.category .right-icon {
  right: -20px !important;
}
