@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #eaf0f9;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 6.5px;
  height: 0;
}
::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background-color: #f79c68b2;
  border-radius: 30px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #f79c68 #f2f2f2;
  scroll-behavior: smooth;
}
